body {
    position: relative;
    margin: 0;
    padding: 2em;
}
div#header {
    padding: 1.5em 0;
    margin: 0 0 1.5em;
}
div#TOC, nav#TOC, div.contents.topic {
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}
div#header h1 {
  font-size: 2.625em; /* 42px */
  line-height: 1.1429em; /* 48px */
  margin-top: 0.5714em;
  margin-bottom: 0em;
}
div#header h2 {
  font-size: 2em; /* 32px */
  line-height: 1.5em; /* 48px */
  margin-top: 0.75em;
  margin-bottom: 0em;
}
div#header h3 {
  font-size: 1.75em; /* 28px */
  line-height: 1.7143em; /* 48px */
  margin-top: 0.8571em;
  margin-bottom: 0em;
}

@media screen and (min-width: 980px) {
    body {
        padding-left: 320px;
        padding-top: 0;
    }
    div#TOC, nav#TOC, div.contents.topic {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        border: none;
        padding: 2em 0.5em;
    }
}

img.align-left, .figure.align-left, object.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }

